body {
  min-height: 400px;
  min-width: 400px;
}

.navbar-static-top {
  margin-bottom: 0em;
}

canvas#main-sketch {
  width: 800; 
  height: 500;
  display: block;
  border: 0px solid black;
}


h3#form-intro {
  width: 100%;
}

div.image-container {
  width: 100%;
}

img#form-image {
  width: 100%;
  border: 0.2em solid gray;
}

div.form-field-container {
  margin: 20px auto;
  width: 100%;
}

canvas#gallery-sketch {
  position: fixed;
}

div#canvas-gallery-div {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}



div.thumbnail.image-detail {
  margin: 20px auto;
  max-height: 50%;
}

img#image-detail {
  width: 100%;
  border: 0.2em solid gray;
}
