body {
  min-height: 400px;
  min-width: 400px;
  background-color: #F8F8F8;
}

.navbar-static-top {
  margin-bottom: 0em;
}

canvas#main-sketch {
  width: 800; 
  height: 500;
  display: block;
  border: 0px solid #C3C3C3;
  margin: 2% auto;
}

div#form-modal {
  width: 60%;
  margin: auto;
}

h3#form-intro {
  width: 100%;
}

div.image-container {
  width: 100%;
}

img#form-image {
  width: 100%;
}

div#form-modal{
  background-color: #F8F8F8;
}

div.form-field-container {
  margin: 20px auto;
  width: 100%;
}

canvas#gallery-sketch {
  position: fixed;
}

div#canvas-gallery-div {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

div.thumbnail.gallery {
  background-color: rgba(255, 255, 255, 0.7);
}

div#image-container {
  width: 95%;
}

div.thumbnail.image-detail {
  margin: 1% auto;
  background-color: rgba(255, 255, 255, 0.7);
}

img#image-detail {
  width: 100%;
}

pre#fieldnote {
    word-break: normal; !important;
    white-space: pre-wrap; !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background: none;
    border: none;
}