div#blackout-screen {
  position: fixed;
  top: 0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

div#promotion {
  position: fixed;
  width: 600px;
  top: 50px;
  border: 3px solid gray;
  left: 50%;
  margin-left: -300px; 
}

div#promotion>h3 {
  color: blue;
}

div#cart{
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 75px;
  background-color: #f3f3f3;
  display: none;
}



div.melon-summary img {
    width: 200px;
}

div.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

div.melon-summary {
    display: inline-block;

    width: 300px;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

li.warning {
    color: red;
}

img.product-img {
    display: inline-block;
    max-width: 400px;
}

div.cart {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img.melon-cart {
    height: 15px;
}

