
	
<div class="container image-container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 id="form-intro">snap! sweet pic...</h3> <!-- form header -->
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<img  id="form-image" src="" alt="your capture"> <!-- image goes here -->
		</div>
	</div>
</div>

<div class="container form-field-container"> <!-- start form fields -->
	<div class="row clearfix">
		<div class="col-md-12 column">

	      	<div class="input-group">
				<span class="input-group-addon">discoverer</span>
				{% if user == none %}
				<input type="text" id="form-discoverer" class="form-control" placeholder="yes, you!" name="discoverer">
				{% else %}
				<input type="text" id="form-discoverer" class="form-control" name="discoverer" value="{{user}}">
				{% endif %}					
			</div>

			<div class="input-group">
				<span class="input-group-addon">species</span>
				{% if title == none %}
				<input type="text" id="form-title" class="form-control" placeholder="whatcha got there?" name="title">
				{% else %}
				<input type="text" id="form-title" class="form-control" name="title" value="{{title}}">
				{% endif %}
			</div>

			<div class="input-group">
				<span class="input-group-addon">fieldnotes</span>
				<textarea id="form-description" class="form-control" rows="3" name="description" placeholder="tell me more..."></textarea>
			</div>

		</div>
	</div>
</div> <!-- end form fields -->

