
	
<div class="container form-field-container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 id="form-intro">your documentation has been recorded.</h3> <!-- form header -->
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<p> use this link to revisit your discovery at anytime. </p>
			<p><a id="image-permalink" href="/gallery/{{image_id}}">{{hostname}}/gallery/{{image_id}}</a><p>
			<p> p.s. check out your contributions and more in the <a href="/gallery">gallery!</a> </p>
		</div>
	</div>
</div>

