{% extends 'base.html' %}
{% block body %}

<script type="text/javascript" src="/static/js/gallery.js"></script>

<div id="outer-div">

    <div id="canvas-gallery-div">
        <canvas id="gallery-sketch" data-processing-sources="
        /static/processes/gallery/gallery.pde"></canvas>
    </div>

	<div id="image-container" class="container image-detail">
		<div class="thumbnail image-detail">
			<h3 id="form-intro">{{ display_image.imagemetadata.title }}</h3>
			</p>discovered by {{display_image.user.name}}</p>

			<div class="row clearfix">
				<div class=" col-md-12 column image-container">
					<img id="image-detail" src="/captures/{{display_image.filename}}.jpg"> <!-- image goes here -->
				</div>
			</div>

			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3>field notes</h3>
					<p>{{display_image.imagemetadata.description}}</p>
				</div>
			</div>

		</div>
	</div>


</div> <!-- end outer div -->

{% endblock %}