{% extends 'base.html' %}

{% block body %}
<script type="text/javascript" src="/static/js/vivarium.js"></script>

<div class="btn-group btn-group-justified button-container">

	<a type="button" class="btn btn-lg btn-default custom" onclick="toggle('flock')">Flock</a>

	<a type="button" class="btn btn-lg btn-default custom" onclick="toggle('flow')">Flow</a>

	<a type="button" class="btn btn-lg btn-default custom" onclick="toggle('walls')">Walls</a>

	<a type="button" class="btn btn-lg btn-default custom" onclick="toggle('attract')">Attract</a>

	<a type="button" class="btn btn-lg btn-default custom" onclick="toggle('repel')">Repel</a>

	<a type="button" class="btn btn-lg btn-default custom" onclick="toggle('trails')">Trails</a>

	<a type="button" class="btn btn-lg btn-default custom" id="save-image-btn">Take pic</a>
</div>


<!-- start hidden form -->
<div class="modal fade bs-example-modal-lg hidden-form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="form-modal" class="modal-content">

    	<div id="form-content"> <!-- start dynamic content -->

		</div> <!-- end dynamic content -->

		<div class="container form-field-container"> <!-- start form buttons -->
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a id="post-data-btn" class="btn btn-primary" role="button">Submit</a>
					<a id="close-form" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>
		</div> <!-- end form buttons -->

    </div>
  </div> 
</div> <!-- end hidden form -->

	
					
					<canvas id="main-sketch" data-processing-sources="
						/static/processes/vivarium/vivarium.pde
						/static/processes/vivarium/main.pde 
						/static/processes/vivarium/Behavior.pde 
						/static/processes/vivarium/Controls.pde 
						/static/processes/vivarium/Creature.pde
						/static/processes/vivarium/Flock.pde
						/static/processes/vivarium/Flow.pde
						/static/processes/vivarium/Texture.pde
						/static/processes/vivarium/Theme.pde
						">

{% endblock %}