{% extends 'base.html' %}

{% block body %}

<script type="text/javascript" src="/static/libs/processing-1.4.8.min.js"></script>
<script type="text/javascript" src="/static/js/sketch.js"></script>

<style>
	canvas {width:800; height:500; display: block;}
	img { width: 450; display: block;}
</style>

<canvas id="mysketch" data-processing-sources="
	/static/processes/processes.pde
	/static/processes/main.pde 
	/static/processes/Behavior.pde 
	/static/processes/Controls.pde 
	/static/processes/Creature.pde
	/static/processes/Flock.pde
	/static/processes/Flow.pde
	/static/processes/Texture.pde
	/static/processes/Theme.pde
	">
</canvas>

<button type="button" onclick="toggle('flock')">Flock</button>

<button type="button" onclick="toggle('flow')">Flow</button>

<button type="button" onclick="toggle('walls')">Walls</button>

<button type="button" onclick="toggle('attract')">Attract</button>

<button type="button" onclick="toggle('repel')">Repel</button>

<button type="button" onclick="toggle('trails')">Trails</button>

<button type="button" onclick="saveImage()">Take pic</button>

<div id="blackout-screen">
	<div id="promotion" class="jumbotron">

		<div id="promo-content" >
			<h4>Snap! What have we here...</h4>

			<img id="form-image" src=""/><br>
			Discoverer:<input type="text" id="form-discoverer" name="discoverer"><br>
			Species name: <input type="text" id="form-title" name="title"><br>
			Description: <textarea type="text" id="form-description" name="description"></textarea><br>
			<button type="button" onclick="postdata()">Submit</button>
		</div>
		<a id="close-promotion" href="">Cancel</a>
	</div>

</div>


<script type="text/javascript"> </script>

{% endblock %}